/**** Resets ***********/
* {margin:0; padding:0; border:0; font-size:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;	font-family: Arial; font-size:100%; font-weight:normal;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}

a:active, a:focus {outline:none;}

/***** Variables *******/
@colorRoute : #abc;

.pageWidth {
	width:100%;
	max-width:500px;
}

/***** Structure *******/
body {
	background:darken(@colorRoute, 40%);
}

.main-header {
}

.main-footer {

}

.pages, .page {
	margin:auto;
	.pageWidth;
	background:#fff;
}

.page{
	position:absolute;
	-webkit-overflow-scrolling: touch;
	display:none;
	
}

.page.current {
	display:block;
}

.contentSection {
	position:relative;
}

.content, .one-content {
	padding:4%;
	width:100%;
	margin-bottom:10%;
}

.content {
	display:none;
}

.content.currentContent {
	display:block;
}

/***** Navigation *******/

/***** Top Nav **********/
.top-nav ul {
	list-style-type:none;
	overflow:hidden;
	width:40%;
	margin:auto;
}

.top-nav ul li {
	float:left;
	width:33%;
}

/****** Arrow Nav *******/
.arrow-title {
	margin-bottom:20px;	
}

.arrow-title {
	h2 {
		display:inline;
		padding:0 10px;	
	}
}

/***** Bottom Nav *******/
.bottom-nav {
	position:fixed;
	background:#fff;
	.pageWidth;
	bottom:0;
	overflow:hidden;
}

.bottom-nav ul {
	list-style-type:none;
}

.bottom-nav ul li {
	float: left;
	width:25%;
	border:1px dashed darken(@colorRoute, 20%);
}

.bottom-nav ul li a {
	text-decoration:none;
	color:darken(@colorRoute, 30%);
	display:block;
	width:100%;
	text-align:center;
	padding:20% 10%;
	margin:0;
}

.bottom-nav a.highlight {
	background:@colorRoute;
	color:#fff;
}

/***** Leaderboard ******/
.challenge-title {
	overflow:hidden;
}

.challenge-title .days-left {
	font-size:.75em;
	font-weight:600;
	padding-top:2.5em;
	font-color:lighten(@colorRoute, 20%);
}

.leaderboard, .leaderboard {
	margin-top:5%;
	border-bottom:1px dashed lighten(@colorRoute, 10%);
}

.leader {
	margin-top:1%;
	width:100%;
	overflow:hidden;
	border-top:1px dashed lighten(@colorRoute, 10%);
}

.leader a {
	width:100%;
	display:block;
	padding:1%;
	text-decoration:none;
	overflow:hidden;
}

.leader a:hover {
	background:lighten(@colorRoute, 10%);
}

.leader.my-team a, .leader.my-row a {
	background:lighten(#00ADEF, 30%);
}
.leader.my-team a:hover, .leader.my-row a:hover {
	background:lighten(#00ADEF, 10%) + #000;
}

.leader .position {
	float:left;
	font-size:2em;
	margin:0;
	padding:0;
	margin-right:5%;
	margin-top:5%;
	color:darken(@colorRoute, 10%);
}

.leader img {
	display:block;
	float:left;
	margin-right:5%;
	padding-top: 5%;
	width:10%;
}

.leader header {
	float:left;
	margin-top:4%;
}

.leader h1 {
	font-size:1.5em;
	text-align: left;
	float:left;
	margin-top:6%;
}

.leader header h1 {
	float:none;
	margin-top:0;
}

.leader h2 {
	font-size:.75em;
	text-align: left;
}

.leader .miles {
	float:right;
	font-size:.75em;	
	margin-top:5%;
}

.leader .miles p {
	margin-bottom:.5em;
	text-align:right;
	padding:0;
}

.leader a {
	text-decoration:none;
	color:darken(@colorRoute, 20%);
}

/****** Transport Styles ****/
.transport-types {
	width:100%;
	overflow:hidden;
	border-top:1px dashed lighten(@colorRoute, 10%);
}

.transport-type  {
	margin:2% 0;
	border-bottom:1px dashed lighten(@colorRoute, 10%);
}

.transport-type img {
	display:block;
	float:left;
	margin-right:5%;
	width:10%;
}

.transport-type p {
	margin:0;
	padding:0;
}

/***** Team details *****/
.team-details header {
	width:100%;
	margin-bottom:5%;
}

.team-details header img {
	width:30px;
	display:block;
	float:left;
	padding-right:2%;
}

.whole-team {
	overflow:hidden;
}

.whole-team img {
	display:block;
	float:left;
	margin-right:10%;
	width:23%;
}

.whole-team p {
	padding-bottom:0em;
	font-size:.8em;
	color:darken(@colorRoute, 40%);
}

/***** Floats ***********/
.left {
	float:left;
}

.right {
	float:right;
}

/***** Typography *******/
h1 {
	text-align:center;
	font-size:2em;
	margin-bottom:1%;
	color:darken(@colorRoute, 20%);
}

h2 {
	font-size:1.5em;
	color:darken(@colorRoute, 10%);
}

h3 {
	gont-size:1.25em;
	color:darken(@colorRoute, 30%);
	margin-bottom:1%;
	
}

p {
	 padding-bottom: 1em;
}

a, h1 a, h2 a {
	text-decoration:none;
}

h4 {
	font-size:.75em;	
}

strong {
	font-weight:600;
}

/***** Media Queries ****/

/* larger tablets and desktops */
@media only screen and (min-width:1025px) { 

	.leader h1 {
		font-size:1.2em;
	}
}

@media only screen and (max-width:370px) {
	.leader .position {
		font-size:1.5em;
	}

	.leader h1 {
		font-size:1em;
	}
}
