/***** Variables *******/
@lightGray : #dedede;
@darkGray : #666;
@darkBlue : #59818B;
@accentGreen : #27C86C;
@accentBlue : #00AEDB;
@pix-white : white;

@font-sans : 'Open Sans', sans-serif;

/* assuming 16 columns per page, one column is 6.25%*/
@onecolumn: 6.25%; 
@header-height: 30px; /* also set in the script.js*/
@footer-height: 59px;

/**** Resets ***********/
* {margin:0; padding:0; border:0; font-size:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;	font-family: @font-sans; font-size:100%; font-weight:normal;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}

a:active, a:focus {outline:none;}

img {max-width:100%}

/*
22 pt = 1.84 em
18 pt = 1.51 em
16 pt = 1.34 em
22px = 1.4em
18px = 1.125em
16px = 1em
*/

.pix-header {
	font-size: 1.2em;
	font-weight: 600;
	color: @darkGray;
}

.pix-subheader {
	font-size: 1.1em;	
	font-weight: 600;
	color: @darkBlue;
}

.pix-body {
	font-size: 1em;
	font-weight: 400;
	color: @darkGray;
}

.pix-link{
	font-size: 1em;
	font-weight: 600;
	color: @accentBlue;
}
.pix-small {
	font-size: .75em;
	font-weight: 300;
	color: @darkGray;
}

.pix-stat-number{
	font-size: 1.4em;
	color: @darkGray;
	text-align: center;
	font-weight: 300;
}

.pix-stat-label{
	font-size: .75em;
	color: @darkGray;
	text-align: center;
	font-weight: 300;
}

.pix-graphLabel{
	.pix-small; 
	fill: @darkGray;
}


h1{
	.pix-header;
}

h2 {
	.pix-subheader;
}

h3 {
	color: @darkGray;
	font-weight: 400;
	font-size: 1.05em;
}
p {
	.pix-body;
}

/***** Typography *******/
/*
22 pt = 1.84 em
18 pt = 1.51 em
16 pt = 1.34 em
*/
h1 {
	text-align:center;
	margin-bottom:2%;
}

.main-header h1 {
	padding-top:2%;
	margin-bottom: 0;
	text-align: left;
	padding-left:5px;
	color: @darkGray;
}

h2 {
	margin-bottom:4%;
	text-align:center;
}

h2.team-home-header {
	text-align:left;	
}

h4 {
	font-size:.75em;	
	color:darken(@lightGray, 30%);
}

a, h1 a, h2 a {
	text-decoration:none;
}

strong {
	font-weight:600;
}

.pageWidth {
	width:100%;
	max-width:500px;
}

.borders(@radius: 5px)
{
	-moz-border-radius:@radius;
	-webkit-border-radius:@radius;
	-o-border-radius:@radius;	
	border-radius:@radius;
}

/***** Structure *******/
body {
	background:darken(@lightGray, 40%);
}

.main-header {
	background:lighten(@lightGray, 5%);
	padding-bottom:1px;
	margin-bottom:3%;
}

.page-title {
	position: fixed;
	top: 0px;
	z-index: 100;
	height: @header-height;
	background: @accentBlue;
	width:100%;
	text-align: center;
	border-bottom: 1px solid darken(@lightGray, 20%);

	h1 {
		color: @pix-white;
	}
}

.container {
	margin-top: @header-height;
}

.main-footer {
}

.pages, .page {
	margin:auto;
	.pageWidth;
	background:#fff;
}

.page{
	position:absolute;
	-webkit-overflow-scrolling: touch;
	display:none;
	padding-bottom:@footer-height;
}

.page.current {
	display:block;
}

/***** Navigation *******/

/***** Bottom Nav *******/
.bottom-nav {
	position:fixed;
	background:#fff;
	.pageWidth;
	bottom:0;
	margin:auto;
	overflow:hidden;
	z-index:10;
	font-size:1.7em;
}

.bottom-nav ul {
	list-style-type:none;
}

.bottom-nav ul li {
	float: left;
	width:25%;
	border-top:1px solid darken(@lightGray, 20%);
}

.bottom-nav ul li a {
	text-decoration:none;
	color:@darkGray;
	display:block;
	width:100%;
	text-align:center;
	padding:10% 10%;
	margin:0;
	font-size:.4em;
}

.bottom-nav a.highlight {
	color:@accentBlue;
}

.bottom-nav img {
	max-width:100%;
	width:50%;	
	margin:auto;
	display:block;
}

/**** Home:  Commute Impact *****/
.impact .home-section-title, .week header {
	overflow:hidden;

	.arrow {
		float:left;
		margin-right:2%;
		color:darken(@lightGray, 30%);	
	}
	
	 h1 {
		float:left;
	}	
}

.week header {
	h1 {
		font-size:.8em;
		float:none;
		text-align:left;
	}
	
	.header-ctype {
		overflow:hidden;
		width:33%;
		float:left;
		padding-right:3%;
		margin-bottom:4%;
		
		.week-stats {
			float:left;
			margin-right:6%;	
			text-align:right;
			width:64%;
			font-size:.8em;
		}
		
		p {
			margin:0;
			padding:0;
		}
		
		img {
			margin-top:2%;
			max-width:100%;
			width:30%;
			float:left;
		}
	}
}

.impact, .week {
	padding:3% 3%;
	border-bottom:1px dashed @lightGray;	
	.impact-section {
		margin-top:2%;	
	}
}

.impact header {
	overflow:hidden;
	
	.ppsavings {
		float:left;
		width:50%;	
	}
	
	.ysavings {
		float:right;
		width:50%;	
	}
	
	h2 {
		font-size:.9em;
	}
	
	p {
		text-align:center;
	}
}

.impact.expanded, .week.expanded {
	background:lighten(@lightGray, 10%);	
}

.day-header {
	width:90%;
	float:right;
	overflow:hidden;
	margin-bottom:2%;
	margin-top:2%;
	border-bottom:1px dashed @lightGray;
	
	h2 {
		width:50%;
		float:left;
		text-align:center;	
		margin-bottom:0px;
		font-size:1em;
	}
}

.week-section {
	.day { 
		overflow:hidden;
		margin-bottom:3%;
		
		h3 {
			float:left;
			width:10%;
			text-align:center;
		}
		h4 {
			float:left;
			width:10%;
			margin-top: .3em;
		}
		
		section {
			float:left;
			width:35%;
			margin-left:2%;
			margin-right:3%;
			overflow:hidden;
			
			p {
				float:left;
				width:60%;
				margin-right:3%;
				text-align:right;
				font-size:.8em;
			}
			
			img {
				float:left;
				max-width:100%;
				width:15%;
				margin-left:3%;	
			}
		}
	}
}

.section-arrow {
	display:block;
	width:10%;
	margin:auto;	
}

.section-arrow.arrow-up {
	width:10%;
	padding:10px 0;
}


/***** Home Trends ******/
.trend {
	overflow:hidden;
	margin-bottom:5%;
	
	h3 {
		float:left;
		width:30%;
	}
	
	img {
		float:left;
		width:60%;
	}
}

/***** Leaderboard ******/
.challenge-title {
	overflow:hidden;

	h3 {
		color:@darkGray;
		text-align: center;
	}
}

.challenge-title .days-left {
	float: left;	
	padding-left: @onecolumn;

	.pix-stat-number {
		margin-bottom: -.3em;
	}
}

#challenges {
	
	#challenge-mode {
		width: 40%;
		margin: auto auto;
		overflow: hidden;
	}

	#challenge-mode ul {
		list-style-type:none;
	}

	#challenge-mode ul li {
		float: left;
		width:50%;
		border-left:none;
	}

	#challenge-mode ul li a {
		display:block;
		width:100%;
		text-align:center;
		padding:5% 5%;
		margin:0;
		.pix-small;
	}
	
	#challenge-mode img {
		max-width:100%;
		width:60%;
	}
}

.leaderboard {
	margin-top:5%;
	border-bottom:none;
}

.leader {
	width:100%;
	overflow:hidden;
	border-top:none;
	padding:3%;
	border-bottom:1px dashed @lightGray;	
}

.leader:first-child {
	border-top:1px dashed @lightGray;	
}

.leader a {
	width:100%;
	display:block;
	text-decoration:none;
	overflow:hidden;
	.borders(2px);
}

/*the team leader for .you*/
.leader.your-team {
	background:lighten(@accentGreen, 45%);
}

.leader.you {
	background:lighten(@accentBlue, 45%);
}

.leader .position {
	float:left;
	margin:0;
	padding:0;
	margin-right:5%;
	.pix-header;
}

.leader img {
	display:block;
	float:left;
	margin-right:5%;
	width:10%;
}

.leader header {
	float:left;
	margin-top:4%;
}

.leader h1 {
	text-align: left;
	float:left;
}

.leader header h1 {
	float:none;
	margin-top:0;
}

.leader h2 {
	.pix-body;
	text-align: left;
}

.leader .miles {
	float:right;
}

.leader .miles p {
	text-align: center;
	padding:0;
}

/*
.leader .miles-detail, .leader .members-detail {
	.pix-small;
}*/

.leader a {
	text-decoration:none;
	color:darken(@darkGray, 20%);
}

.content, .one-content {
	width:100%;
	margin-bottom:10%;
}

.content {
	display:none;	
}

.currentContent {
	display:block;	
}

/****** Transport Styles ****/
.transport-types {
	width:100%;
	overflow:hidden;
	border-top:1px dashed lighten(@lightGray, 10%);
}

.transport-type  {
	margin:2% 0;
	border-bottom:1px dashed lighten(@lightGray, 10%);
}

.transport-type img {
	display:block;
	float:left;
	margin-right:5%;
	width:10%;
}

.transport-type p {
	margin:0;
	padding:0;
}

/***** Team details *****/
.team-details header {
	width:100%;
	margin-bottom:5%;
}

.team-details header img {
	width:30px;
	display:block;
	float:left;
	padding-right:2%;
}

.team-stats {
	padding-right: 5%;
}

.team-stats .trips-detail {
	.left;
}

.team-stats .miles-detail {
	.right;
}

.team-stats .members-detail {
	.left;
	.pix-small;
}

/******  Settings *******/

.settings-section{
	overflow:hidden;
	border-bottom:1px solid @lightGray;
	/*padding-bottom: 5px;
	padding-top: 5px;*/
	padding: 5px @onecolumn;

	.icon {
		.left;
		width: 30px;
		margin-right: 5px;
	}

	h3 {
		float:left;	
		margin-right:10px;

	}

	.section-arrow {
		margin: auto;
		/*margin-top: 10px;*/
	}
}

.settings-section.first {
	border-top:1px solid @lightGray;
}

.settings-section.blank{
	height: 40px;
	background-color: @lightGray;
}

#tracking-toggle {
	.pix-link;
}

#auto-track-toggle {
	overflow:hidden;
	
	.onoffswitch {
		display:block;
		float:right;
	}
}

.settings-day {
	overflow:hidden;
	/*margin-bottom:20px;*/
	
	h4 {
		float:left;
		width:30%;	
		font-size:1em;
		/*margin-left: 18.75%;*/
		margin-left: @onecolumn *2;
	}
	
	img {
		.left;
		width: 30px;
		margin-right: 5px;
	}
	.day-toggle{
		float:right;
	}

}
#commute-week.disabled {
    background-color: white;
    filter:alpha(opacity=30); /* IE */
    opacity: 0.3; /* Safari, Opera */
    -moz-opacity:0.30; /* FireFox */
    z-index: 20;
    background-repeat:no-repeat;
    background-position:center;
}

/***** Floats ***********/
.left {
	float:left;
}

.right {
	float:right;
}



/***** Progress Bars ****/
.progress .title, .progress .goal {
	font-size: .6em;
	color: @darkGray;
	font-weight: 300;
}

.progress .goal {
	.right;
}


.progress {
	.left;
	margin-top: 10px;
	width: @onecolumn * 10;
	margin-left: @onecolumn;
}

.progress-bar {
	background: @accentBlue; 
	height: 3px;
	margin-top: 6px;
	float: left;
	z-index:1;
	position:relative;
}
.goal-bar {
	background: desaturate(@lightGray, 40%);
	position: relative;
	height: 1px;
	margin-top: 7px;
}

.progress-indicator {
	display: none;
	background: @accentBlue;
	border-radius: 50%;
	/* width and height can be anything, as long as they're equal */
	width: 11px;
	height: 11px; 
	float: left;
	position: relative;
	left: -1px;
	margin-top: 2px;
	z-index: 100;
}

.goal-indicator {
	display: none;
	margin-top: -5px;
	border-radius: 50%;
	border: 1px solid @lightGray;
	width: 9px;
	height: 9px; 
	position: relative;
}

.linebreak {
	overflow: hidden;
}

.clear {
	clear:both;	
}

/******** Graphing Override *****/
.d3Chart, .d3BarChart{
	/*this is supposed to smooth the transition, but it crashes safari i think*/
	/*-webkit-transform: translateZ(0); */
	overflow:hidden;
	width: 100%;
}

.d3Chart svg {
	
}
.d3Chart path {
    stroke: @accentBlue;
    stroke-width: 2;
    fill: none;
}

.d3Chart .axis path{
	stroke: @lightGray;
	stroke-width: 1;
}

.d3Chart .axis .tick line{
	stroke: @lightGray;
	stroke-width: 1;
}

/* http://tutorials.jenkov.com/svg/text-element.html*/
.d3Chart text {
	.pix-graphLabel;
}

.d3BarChart {
	text {
		.pix-graphLabel
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: @lightGray;
	  shape-rendering: crispEdges;
	}

	.barChart .walk {
	  fill: @darkGray;
	}

	.barChart .car {
	  fill: @accentGreen;
	}

	.barChart .bus {
	  fill: @accentBlue;
	}

	.barChart .bike {
	  fill: @darkBlue ;
	}
}

/***** Media Queries ****/

/* larger tablets and desktops */
@media only screen and (min-width:1025px) { 

	.leader h1 {
		font-size:1.2em;
	}
}

/* phone */
@media only screen and (max-width:370px) {
	
	.leader .position {
		font-size:1.5em;
	}

	.leader h1 {
		font-size:1em;
	}
}
